.mat-mdc-dialog-container {
  --mdc-dialog-container-color: #2e2e2e; 
  --mdc-dialog-container-shape: 0.9em;      
}

.mat-mdc-dialog-title {
  color: #d32f2f;
}

h1[mat-dialog-title] {
    font-size: 1.2em;
    font-weight: 600;
}

.mat-mdc-dialog-content p {
    color: white !important;
}

button.mat-mdc-raised-button {
    background-color: #4caf50;
    color: white;
}
