<mat-toolbar>
    <mat-toolbar-row>
        Refurb Tracker App
    <span class="spacer"></span>
    <button matButton="outlined"  mat-stroked-button [matMenuTriggerFor]="rhMenu" style="color: white">
        HR Menu    
    </button> 
    
    <mat-menu #rhMenu="matMenu">
        <button [routerLink]="submenuItem.path" mat-menu-item *ngFor="let submenuItem of subMenuItems">
            <mat-icon>{{ submenuItem.icon }}</mat-icon>
            <span>{{ submenuItem.title }}</span>
        </button>
    </mat-menu>

    </mat-toolbar-row>  
</mat-toolbar>