<mat-toolbar>
  <mat-toolbar-row>
    Refurb Tracker App
    <span class="spacer"></span>

    <button
      mat-stroked-button
      color="primary"
      [matMenuTriggerFor]="rhMenu"
      style="color: white">
      HR Menu
    </button>

    <!-- RH menu with inline submenus -->
    <mat-menu #rhMenu="matMenu" xPosition="before">
      <ng-container *ngFor="let item of menuItems">
        <ng-container *ngIf="item.subMenuItems?.length; else singleItem">
          <button mat-menu-item [matMenuTriggerFor]="subMenu">
            {{ item.title }}
          </button>

          <mat-menu #subMenu="matMenu">
            <button
              mat-menu-item
              *ngFor="let sub of item.subMenuItems"
              [routerLink]="sub.path"
            >
              <mat-icon>{{ sub.icon }}</mat-icon>
              {{ sub.title }}
            </button>
          </mat-menu>
        </ng-container>

        <ng-template #singleItem>
          <a mat-menu-item [routerLink]="item.path">
            <mat-icon>{{ item.description }}</mat-icon>
            {{ item.title }}
          </a>
        </ng-template>
      </ng-container>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>