<div class="equipments-table-container">
    <mat-card class="equipments-table-card">
        <mat-card-content>
            <div class="table-container">
                <table mat-table [dataSource]="employees" class="mat-elevation-z8">
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef>First Name</th>
                        <td mat-cell *matCellDef="let employee">{{ employee.firstName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef>Last Name</th>
                        <td mat-cell *matCellDef="let employee">{{ employee.lastName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="birthdayDate">
                        <th mat-header-cell *matHeaderCellDef>Birthday Date</th>
                        <td mat-cell *matCellDef="let employee">{{ employee.birthdayDate | date: 'dd-MM-yyyy' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="department">
                        <th mat-header-cell *matHeaderCellDef>Department</th>
                        <td mat-cell *matCellDef="let employee">{{ employee.department }}</td>
                    </ng-container>

                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>Position</th>
                        <td mat-cell *matCellDef="let employee">{{ employee.position }}</td>
                    </ng-container>

                    <ng-container matColumnDef="admissionDate">
                        <th mat-header-cell *matHeaderCellDef>Admission Date</th>
                        <td mat-cell *matCellDef="let employee">{{ employee.admissionDate | date: 'dd-MM-yyyy' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef>Created At</th>
                        <td mat-cell *matCellDef="let employee">{{ employee.createdAt }}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let employee">{{ employee.status }}</td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>Employee Type</th>
                        <td mat-cell *matCellDef="let employee">{{ employee.employeeType }}</td>
                    </ng-container>

                    <ng-container matColumnDef="phoneNumber">
                        <th mat-header-cell *matHeaderCellDef>Contact</th>
                        <td mat-cell *matCellDef="let employee">{{ employee.phoneNumber }}</td>
                    </ng-container>

                    <!--------------------- Fields for Internal Employee ------------------------->

                    <ng-container matColumnDef="workerNo">
                        <th mat-header-cell *matHeaderCellDef> Worker No </th>
                        <td mat-cell *matCellDef="let employee">
                        {{ isInternalEmployee(employee) ? employee.workerNo : 'N/A' }}
                        </td>
                    </ng-container>


                    <!--------------------- Fields for Temporary Employee ------------------------->

                    <ng-container matColumnDef="eloCode">
                        <th mat-header-cell *matHeaderCellDef> Elo Code </th>
                        <td mat-cell *matCellDef="let employee">
                        {{ isTemporaryEmployee(employee) ? employee.eloCode : 'N/A' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="hiringEmploymentCompany">
                        <th mat-header-cell *matHeaderCellDef> Employment Company </th>
                        <td mat-cell *matCellDef="let employee">
                        {{ isTemporaryEmployee(employee) ? employee.hiringEmploymentCompany : 'N/A' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="contractStartDate">
                        <th mat-header-cell *matHeaderCellDef> Contract Start Date </th>
                        <td mat-cell *matCellDef="let employee">
                        {{ isTemporaryEmployee(employee) ? (employee.contractStartDate | date: 'dd-MM-yyyy') : 'N/A' }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="contractEndDate">
                        <th mat-header-cell *matHeaderCellDef> Contract End Date </th>
                        <td mat-cell *matCellDef="let employee">
                        {{ isTemporaryEmployee(employee) ? (employee.contractEndDate | date: 'dd-MM-yyyy') : 'N/A' }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="row?.id && openEditMode(row.id)"></tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>
